{% extends "dashboard_base.html" %}
{% block title %}Submissions for: {{ form_to_view.title }}{% endblock %}
{% block content_dashboard %}
    <h1><b>{{ form_to_view.title }}</b> Submissions</h1><br />
    <!--suppress JSUnusedAssignment, JSUnresolvedVariable -->
        <div class="width-full">

            <table class="table">
                <thead>
                <tr id="table-head-row"></tr>
                </thead>
                <tbody>
                {% for submission in submissions %}
                    <tr id="table-body-row-{{ forloop.counter0 }}"></tr>
                {% endfor %}

                </tbody>
            </table>

            <script>
                var formArray = {{ form_to_view.jsonForm | safe }};
                var headHtml = '<th>S/N</th>';
                for (var i = 0; i < formArray.length; i++) {
                    headHtml += '<th>';
                    headHtml += formArray[i].label;
                    headHtml += '</th>'
                }
                document.getElementById("table-head-row").innerHTML = headHtml;

                {% for submission in submissions %}
                    var submissionArray{{ forloop.counter0 }} = {{ submission.jsonSubmission | safe }};
                    var bodyHtml{{ forloop.counter0 }} = '<th>{{ forloop.counter }}</th>';
                    for (var i = 0; i < submissionArray{{ forloop.counter0 }}.length; i++) {
                        bodyHtml{{ forloop.counter0 }} += '<th>';
                        bodyHtml{{ forloop.counter0 }} += submissionArray{{ forloop.counter0 }}[i];
                        bodyHtml{{ forloop.counter0 }} += '</th>'
                    }
                    document.getElementById("table-body-row-{{ forloop.counter0 }}").innerHTML = bodyHtml{{ forloop.counter0 }};
                {% endfor %}
            </script>
        </div>
{% endblock %}
{% block js %}
{% endblock %}