{% extends "base.html" %}
{% block title %}Create New Form{% endblock %}
{% block navbar-nav %}
{#    <li><a class="btn btn-outline border-primary" href="/register" style="padding: 10px 20px; margin-top: 4px">Register</a> </li>#}
{% endblock %}
{% block content %}
    <!--suppress JSUnusedAssignment, JSUnresolvedVariable, XmlDefaultAttributeValue -->
    <div class="form-view form-edit main-container">
        <form id="main-form" action="." method="post">
            {% csrf_token %}
            <div class="form-head">
                <div class="row">
                    <div class="col-md-3">
                        <a href="/dashboard" class="btn btn-lg btn-flat" style="margin-bottom: 0"><i class="icon-Left-4"></i> Go Back</a>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="title" placeholder="Enter a title..."
                               size="{{ form.title.max_length }}" value="{{ form_title }}" required="" id="id_title" title="Title">
                        <input type="hidden" name="jsonForm" value="{{ form.jsonForm.value }}" required id="id_jsonForm">
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-lg bg-white" style="margin-bottom: 0"><i class="icon-Disk"></i> Save Form</button>
                    </div>
                </div>
            </div>
            <div class="container main-container" style="padding-top: 140px">
                <div class="row">
                    <div class="col-md-4">
                        {{ form.non_field_errors }}
                        {{ form.title.errors }}
                        {{ form.jsonForm.errors }}
                        <div id="panel-edit-field" class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">Edit Field</div>
                            </div>
                            <div class="panel-body">
                                <label for="select-field">Select Field</label>
                                <select id="select-field" onchange="selectField(document.getElementById('select-field').value)" title="Select Field" class="secondary-input"></select>
                                <label for="edit-field-title">Field Title</label>
                                <input id="edit-field-title" type="text" placeholder="Your question" class="secondary-input">
                                <label for="edit-field-type">Field Type</label>
                                <select id="edit-field-type" onchange="changeFieldType(document.getElementById('edit-field-type').value)" title="Select Field Type" class="secondary-input">
                                    <option value="text">Text Field</option>
                                    <option value="textarea">Text Area</option>
                                    <option value="select">Option Select</option>
                                    <option value="checkbox">Check Boxes</option>
                                    <option value="radio">Radio Buttons</option>
                                    <option value="range">Slider</option>
                                    <option value="date">Date</option>
                                </select>
                                <div id="edit-options" style="margin-top: 20px">
                                    <label for="edit-field-options">Choices (Separate with commas)</label>
                                    <input id="edit-field-options" type="text" placeholder="E.g 'Lagos,Port Harcourt,Abuja'" class="secondary-input" />
                                </div>
                                <div id="edit-range" style="margin-top: 20px">
                                    <label for="edit-field-min">Range:&nbsp;</label><br>
                                    <input id="edit-field-min" min="0" type="number" placeholder="E.g 1" class="secondary-input" />
                                    <input id="edit-field-max" min="0" type="number" placeholder="E.g 10" class="secondary-input" />
                                </div>
                            </div>
                            <div class="panel-footer">
                                <button type="button" class="btn bg-primary width-full" onclick="updateField()">Update Field</button>
                                <button type="button" class="btn btn-danger width-full" onclick="deleteField()">Delete Field</button>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">Add Field</div>
                            </div>
                            <div class="panel-body">
                                <button {# draggable="true" #} ondragstart="dragField(event)" onclick="fieldType='text';
                                document.getElementById('set-options').style.display = 'none';
                                document.getElementById('set-range').style.display = 'none'" type="button" class="btn text-left width-full bg-primary" data-toggle="modal" data-target="#field-modal">
                                    <i class="icon-Normal-Text"></i> &nbsp; Text Field</button>
                                <button onclick="fieldType='textarea';
                                document.getElementById('set-options').style.display = 'none';
                                document.getElementById('set-range').style.display = 'none'" type="button" class="btn text-left width-full bg-primary" data-toggle="modal" data-target="#field-modal">
                                    <i class="icon-Text-Box"></i> &nbsp; Text Area</button>
                                <button onclick="fieldType='select';
                                document.getElementById('set-options').style.display = 'block';
                                document.getElementById('set-range').style.display = 'none'" type="button" class="btn text-left width-full bg-primary" data-toggle="modal" data-target="#field-modal">
                                    <i class="icon-Arrow-Down3"></i> &nbsp; Option Select</button>
                                <button onclick="fieldType='checkbox';
                                document.getElementById('set-options').style.display = 'block';
                                document.getElementById('set-range').style.display = 'none'" type="button" class="btn text-left width-full bg-primary" data-toggle="modal" data-target="#field-modal">
                                    <i class="icon-Check"></i> &nbsp; Check Boxes</button>
                                <button onclick="fieldType='radio';
                                document.getElementById('set-options').style.display = 'block';
                                document.getElementById('set-range').style.display = 'none'" type="button" class="btn text-left width-full bg-primary" data-toggle="modal" data-target="#field-modal">
                                    <i class="icon-Circular-Point"></i> &nbsp; Radio Buttons</button>
                                <button onclick="fieldType='range';
                                document.getElementById('set-options').style.display = 'none';
                                document.getElementById('set-range').style.display = 'block'" type="button" class="btn text-left width-full bg-primary" data-toggle="modal" data-target="#field-modal">
                                    <i class="icon-Vector"></i> &nbsp; Slider</button>
                                <button {# draggable="true" #} ondragstart="dragField(event)" onclick="fieldType='date';
                                document.getElementById('set-options').style.display = 'none';
                                document.getElementById('set-range').style.display = 'none'" type="button" class="btn text-left width-full bg-primary" data-toggle="modal" data-target="#field-modal">
                                    <i class="icon-Calendar-3"></i> &nbsp; Date</button>
                            </div>
                        </div>
                    </div>
                    <div ondrop="dropField(event)" ondragover="event.preventDefault()" class="col-md-8">
                        <div class="form-content">
                            <ol id="form-content" ></ol>
                        </div>
                        {#                        <input type="range" min="0" max="10">#}
                        {#                        <h4><b>Value</b>: 10</h4>#}

                        <script>
                            var formArray = {{ form_json | safe }};
                            var fieldType = 'text';
                            var selectedField = 0;

                            function changeFieldType(type) {
                                if (type === "select" || type === "checkbox" || type === "radio") {
                                    document.getElementById('edit-options').style.display = 'block';
                                    document.getElementById('edit-range').style.display = 'none';
                                } else if(type === "range") {
                                    document.getElementById('edit-options').style.display = 'none';
                                    document.getElementById('edit-range').style.display = 'block';
                                } else {
                                    document.getElementById('edit-options').style.display = 'none';
                                    document.getElementById('edit-range').style.display = 'none';
                                }
                            }

                            function selectField(id) {
                                selectedField = id;
                                changeFieldType(formArray[selectedField].fieldType);
                                document.getElementById("select-field").value = selectedField;
                                document.getElementById("edit-field-title").value = formArray[selectedField].label;
                                document.getElementById('edit-field-type').value = formArray[selectedField].fieldType;

                                if (formArray[selectedField].options)
                                    document.getElementById('edit-field-options').value = formArray[selectedField].options.join(',');

                                if (formArray[selectedField].fieldType === "range") {
                                    document.getElementById("edit-field-min").value = formArray[selectedField].min;
                                    document.getElementById("edit-field-max").value = formArray[selectedField].max;
                                }
                            }

                            function loadForm() {

                                var formHtml = '';
                                var fieldsSelectHtml = '';
                                var rangeFields = [];
                                for (var i = 0; i < formArray.length; i++) {
                                    fieldsSelectHtml += '<option value="' + i + '">' + '(' + (i + 1) + ') ' + formArray[i].label + '</option>';
                                    formHtml += '<li>';
                                    if (formArray[i].fieldType === "range") {
                                        formHtml += '<label for="' + i + '">' + formArray[i].label +
                                            ' (' + formArray[i].min + ' to ' + formArray[i].max + '):</label>';
                                    } else
                                        formHtml += '<label for="' + i + '">' + formArray[i].label + ':</label>';
                                    switch (formArray[i].fieldType) {
                                        case "text":
                                            formHtml += '<input class="secondary-input" type="text" name="' + i + '" placeholder="Enter your answer..."' +
                                                ' id="' + i + '">';
                                            break;
                                        case "textarea":
                                            formHtml += '<textarea class="secondary-input" name="' + i + '" placeholder="Enter your answer..." ' +
                                                'id="' + i + '"></textarea>';
                                            break;
                                        case "select":
                                            formHtml += '<select class="secondary-input" id="' + i + '" name="' + i + '">';
                                            for (var j = 0; j < formArray[i].options.length; j++) {
                                                formHtml += '<option value="' + formArray[i].options[j] + '">' + formArray[i].options[j] + '' +
                                                    '</option>';
                                            }
                                            formHtml += '</select>';
                                            break;
                                        case "checkbox":
                                            formHtml += '<p>';
                                            for (var j = 0; j < formArray[i].options.length; j++) {
                                                formHtml += '<input type="checkbox" id="field' + i + 'check' + j + '" >' +
                                                    '<label for="field' + i + 'check' + j + '"><span><span></span></span>' + formArray[i].options[j] + '</label>';
                                            }
                                            formHtml += '<p></p>';
                                            break;
                                        case "radio":
                                            formHtml += '<p>';
                                            for (var j = 0; j < formArray[i].options.length; j++) {
                                                formHtml += '<input name="field' + i + '" type="radio" id="field' + i + 'check' + j + '" >' +
                                                    '<label for="field' + i + 'check' + j + '"><span><span></span></span>' + formArray[i].options[j] + '</label>';
                                            }
                                            formHtml += '<p></p>';
                                            break;
                                        case "range":
                                            formHtml += '<input value="' + formArray[i].min + '" type="range" name="' + i + '" min="' + formArray[i].min +
                                                '" max="' + formArray[i].max  + '" id="field' + i + '">' +
                                                '<h4><b>Value</b>: <span id="range' + i + '">0</span></h4>';
                                            rangeFields.push(i);
                                            break;
                                        case "date":
                                            formHtml += '<input class="secondary-input" type="date" name="' + i + '" placeholder="Enter your answer..."' +
                                                ' id="' + i + '">';
                                            break;
                                        default:
                                            break;
                                    }
                                    formHtml += '<button onclick="selectField(' + i + ')" type="button" class="btn bg-primary"><i class="icon-Pen-4"></i>&nbsp;&nbsp;Edit Field</button>';
                                    formHtml += '</li>'
                                }
                                document.getElementById("form-content").innerHTML = formHtml;
                                document.getElementById("select-field").innerHTML = fieldsSelectHtml;

                                for (var i = 0; i < rangeFields.length; i++) {
                                    var slider = document.getElementById("field" + rangeFields[i]);
                                    document.getElementById("range" + rangeFields[i]).innerHTML = slider.value; // Display the default slider value
                                    document.getElementById("field" + rangeFields[i]).oninput = function() {
                                        document.getElementById("range" + this.id.substr(5)).innerHTML = this.value;
                                    }
                                }

                                if (formArray.length <= 0) {
                                    document.getElementById('panel-edit-field').style.display = 'none';
                                    document.getElementById("form-content").innerHTML = '<h1 class="text-center">No Fields Added Yet</h1>' +
                                        '<h4 class="text-center">Start adding fields from the left panel</h4>';
                                }
                                else {
                                    document.getElementById('panel-edit-field').style.display = 'block';
                                    selectField(selectedField);
                                }

                                document.getElementById('id_jsonForm').value = JSON.stringify(formArray);
                            }

                            loadForm();

                            function addField(title, options, min, max) {
                                if (title === "") {
                                    console.warn("Warning: Title cannot be empty");
                                    return;
                                }
                                if ((fieldType === "select" || fieldType === "checkbox" || fieldType === "radio") && options === "") {
                                    console.warn("Warning: Options cannot be empty");
                                    return;
                                }
                                document.getElementById('field-title').value = "";
                                document.getElementById('field-options').value = "";
                                document.getElementById('field-min').value = "";
                                document.getElementById('field-max').value = "";


                                var newField;
                                if (fieldType === "select" || fieldType === "checkbox" || fieldType === "radio") {
                                    newField = {
                                        "id": formArray.length,
                                        "fieldType": fieldType,
                                        "label": title,
                                        "options": options.split(",")
                                    };
                                } else if (fieldType === "range") {
                                    newField = {
                                        "id": formArray.length,
                                        "fieldType": fieldType,
                                        "label": title,
                                        "min": min,
                                        "max": max
                                    };
                                } else {
                                    newField = {
                                        "id": formArray.length,
                                        "fieldType": fieldType,
                                        "label": title
                                    };
                                }

                                formArray.push(newField);
                                loadForm();
                            }

                            function deleteField() {
                                var id = document.getElementById("select-field").value;
                                formArray.splice(id, 1);
                                selectedField = 0;
                                loadForm();
                            }

                            function updateField() {
                                var id = document.getElementById("select-field").value;
                                formArray[id].label = document.getElementById("edit-field-title").value;
                                formArray[id].fieldType = document.getElementById('edit-field-type').value;

                                if (formArray[id].fieldType === "range") {
                                    formArray[id].min = document.getElementById("edit-field-min").value;
                                    formArray[id].max = document.getElementById("edit-field-max").value;
                                }

                                if (formArray[id].fieldType === "select" || formArray[id].fieldType === "checkbox" || formArray[id].fieldType === "radio")
                                    formArray[id].options = document. getElementById('edit-field-options').value.split(",");

                                loadForm();
                            }

                            function dragField(event) {
                                console.log(event);
                                event.dataTransfer.setData("text", event.target.id);
                            }

                            function dropField(event) {
                                event.preventDefault();
                                var data = event.dataTransfer.getData("text");
                                console.log(event);
                                event.target.appendChild(document.getElementById(data));
                            }
                        </script>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="field-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Field</h4>
                </div>
                <div class="modal-body" style="padding-left: 30px; padding-right: 30px;">
                    <label for="field-title">Field Title</label>
                    <input class="secondary-input" id="field-title" type="text" placeholder="Your question">
                    <div id="set-options" style="margin-top: 20px">
                        <label for="field-options">Choices (Separate with commas)</label>
                        <input class="secondary-input" id="field-options" type="text" placeholder="E.g 'Lagos,Port Harcourt,Abuja'" />
                    </div>
                    <div id="set-range" style="margin-top: 20px">
                        <label for="field-min">Range:&nbsp;</label>
                        <input id="field-min" min="0" type="number" placeholder="E.g 1" class="secondary-input" />
                        <input id="field-max" min="0" type="number" placeholder="E.g 10" class="secondary-input" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal"
                            onclick="addField(document.getElementById('field-title').value,
                                                     document.getElementById('field-options').value, document.getElementById('field-min').value,
                                                     document.getElementById('field-max').value)" class="btn bg-primary">
                        Add Field
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });
    </script>
{% endblock %}