{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<header class="header">
  <div class="overlay" style="height: 500px"></div>
  <div class="header-content">
    <div class="header-title container text-center text-white">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 header-box">
          <h2>Login To FormBuilder</h2>
          {% if form.has_errors %}
            <p>
              Your username and password didn't match.
            </p>
          {% endif %}
          <form action="." method="post">
            {% csrf_token %}
            <p>
              <div class="input-with-icon">
                <i class="icon icon-Magnifi-Glass2"></i>
                <input onfocus="startSearch()" autocomplete="off" id="q" onchange="startSearch()" type="search" placeholder="Type an artist or genre..." name="q">
              </div>
              <!-- {{form.username}} -->
            </p>
            <p>
              <label for="id_password">Password: </label>
              {{form.password}}
            </p>
            <input type="hidden" name="next" value="/dashboard" />
            <button type="submit" class="btn bg-primary"><h5>Login</h5></button>
            <a href="/user/register" class="btn btn-outline"><h5>Register</h5></a>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}
