{% extends "base.html" %}
{% block title %}Account Registration Successful{% endblock %}
{% block content %}
    <header class="header header-full">
        <div class="header-content">
            <div class="header-title container text-center text-white">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 header-box">
                        <h1>Account Registered Successfully!</h1>
                        {% if user.is_authenticated %}
                        <a href="/dashboard" class="btn bg-white"><h5>Go To My Dashboard</h5></a>
                        {% else %}
                        <a href="/login" class="btn bg-white"><h5>Already Have An Account</h5></a>
                        <a href="/register" class="btn btn-outline text-white"><h5>New User?</h5></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <footer>
        <div id="#contact-section" class="container text-white">
            <div class="row">
                <div class="col-md-4">
                    <h3>About</h3><br />
                    <ul class="links-list list-group">
                        <li><a href="/about">About FormBuilder</a></li>
                        <li><a href="/features">Features</a></li>
                        <li><a href="/pricing">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Contact</h3><br />
                    <ul class="links-list list-group">
                        <li><a href="mailto:support@formbuilder.com">support@formbuilder.com</a></li>
                        <li><a href="tel:+2348012345678">(+234) 801-234-5678</a></li>
                        <li><a href="/faq">FAQs</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
