@font-face {
    font-family: "Open Sans";
    /*noinspection CssUnknownTarget*/
    src: url(/assets/fonts/OpenSans-Light.ttf);
}

/* General Initialization */
html {
    height: 100%;
}

body {
    background: #fff;
    color: #444;
    font-family: "Open Sans", sans-serif;
    height: 100%;
}

.body {
    height: 100%;
}

hr {
    border-color: #cccccc;
    margin-top: 0;
    margin-bottom: 10px;
}

.btn {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.btn i {
    font-size: 12pt;
    padding-right: 5px;
    position: relative;
    top: 1px;
}

.btn.btn-outline {
    border: 2px solid #fff;
    box-shadow: none;
}

.btn.btn-flat {
    background-color: rgba(255, 255, 255, .7);
    color: #AD1457;
    box-shadow: none;
}

.btn.btn-flat:hover, .btn.btn-flat:active, .btn.btn-flat:focus {
    background-color: rgba(255, 255, 255, 1);
    color: #AD1457;
    box-shadow: none;
}

.btn:hover, .btn:active, .btn:focus {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    color: #fff;
}

a {
    color: #444444;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none;
}

a.text-link-decorate:hover, a.text-link-decorate:focus, a.text-link-decorate:active {
    text-decoration: underline;
}

ul.errorlist {
    background: #bb0000;
    border-radius: 3px;
    list-style: none;
    padding: 10px;
    margin-top: 5px;
}

.text-small {
    font-size: smaller;
}

.text-left {
    text-align: left !important;
}

/* End General Initialization */


/* Utility Classes */

.no-margin {
    margin: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.width-full {
    width: 100%;
}

/* End Utility


/* Overlay Classes */

.overlay {
    background-color: rgba(173, 20, 87, .8);
    height: 100%;
    position: absolute;
    width: 100%;
}

.overlay-left {
    background-color: rgba(199, 45, 69, .8);
    height: 100%;
    left: 0;
    position: absolute;
    width: 50%;
}

.overlay-right {
    background-color: rgba(102, 189, 215, .8);
    height: 100%;
    position: absolute;
    right: 0;
    width: 50%;
}

/* End Overlay */


/* Colors */
.bg-primary {
    background-color: #AD1457;
    color: #fff;
}

.btn.bg-primary:active, .btn.bg-primary:focus, .btn.bg-primary:hover {
    background-color: hsl(329, 82%, 29%);
}

.bg-white {
    background-color: #FFFFFF;
    color: #AD1457;
}

.btn.bg-white:active, .btn.bg-white:focus, .btn.bg-white:hover {
    background-color: #eeeeee;
    color: #AD1457;
}

.border-primary {
    border-color: #AD1457 !important;
}

.border-black {
    border-color: #444 !important;
}

.bg-accent {
    background-color: #213F8B;
    color: #fff;
}

.panel-primary {
    border-color: #550024;
}

.panel-primary > .panel-heading {
    background-color: #550024;
    border-color: #550024;
    color: #FFFFFF;
}

.panel-accent {
    border-color: #213F7B;
    color: #444444;
}

.panel-accent > .panel-heading {
    background-color: #213F7B;
    border-color: #213F7B;
    color: #FFFFFF;
}

.text-primary {
    color: #AD1457;
}

.text-accent {
    color: #213F7B;
}

.text-dark {
    color: #444444;
}

.text-white {
    color: #fff;
}

/* Owl Carousel */

.owl-carousel .owl-pagination .owl-page span {
    border-radius: 50%;
}

/* End Owl Carousel */


/* Form and Input */

input[type="range"] {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    margin-top: 20px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    border-radius: 50%;
    background: #AD1457; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

input[type="range"]::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #AD1457; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

input[type="checkbox"], input[type="radio"] {
    display: none;
}

input[type="checkbox"] + label, input[type="radio"] + label {
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-style: normal;
}

input[type="checkbox"] + label > span {
    background-color: #FFFFFF;
    border: 2px solid #AD1457;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 6px 10px 8px;
    vertical-align: middle;
    width: 20px;
}

input[type="checkbox"]:checked + label > span > span {
    background-color: #AD1457;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 2px 2px 8px;
    vertical-align: middle;
    width: 12px;
}

input[type="radio"] + label > span {
    background-color: #FFFFFF;
    border: 2px solid #AD1457;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 6px 10px 8px;
    vertical-align: middle;
    width: 20px;
}

input[type="radio"]:checked + label > span > span {
    background-color: #AD1457;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 2px 2px 8px;
    vertical-align: middle;
    width: 12px;
}

input[type="text"]:not(button), input[type="number"]:not(button), input[type="date"]:not(button), input[type="email"]:not(button), input[type="password"]:not(button),
textarea:not(button), select:not(button), input[type="tel"]:not(button), input[type="url"]:not(button),
input[type="search"]:not(button) {
    background: #fff;
    margin-bottom: 20px;
}

input[type="text"], input[type="number"], input[type="date"],input[type="email"], input[type="password"], textarea, select, input[type="tel"],
input[type="url"], input[type="search"] {
    border: none;
    border-radius: 5px;
    padding: 13px;
}

input[type='text'], input[type="number"], input[type="date"], input[type='address'], input[type='url'], input[type='password'], input[type='email'],
input[type="search"], input[type="tel"] {
    color: #444;
    height: 40px;
    padding-left: 26px;
    padding-right: 26px;
}

input.secondary-input, textarea.secondary-input, select.secondary-input {
    border-bottom: 1px solid #AD1457;
    border-radius: 2px;
    padding-left: 10px;
    width: 100%;
}

textarea {
    border: 1px solid #AD1457;
    margin-top: 10px;
    padding-top: 6px;
    resize: vertical;
}

.input-with-icon {
    padding-left: 0;
    position: relative;
}

.input-with-icon i {
    color: #AD1457;
    font-size: 26px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    top: 7px;
}

.input-with-icon input {
    padding-left: 65px;
    width: 100%;
}

/* End Form and Input */


/* Navbar */
.navbar {
    background: hsl(329, 82%, 29%);
    border: none;
    border-radius: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    padding: 5px;
}

.navbar .navbar-brand {
    color: #FFFFFF;
    font-size: 18pt;
    font-weight: 600;
    height: 100%;
    /*margin-top: -3px;*/
    padding: 0;
}

.navbar .navbar-brand img {
    display: inline;
    height: 56px;
    margin-right: 2px;
    width: auto;
}

.navbar .navbar-brand > small {
    color: #aaa;
    font-size: 10pt;
}

.navbar .navbar-left > li > a {
    color: #eeeeee;
}

.navbar .navbar-left > li:first-child {
    margin-left: 50px;
}

.navbar .navbar-left > li > a:hover {
    background: none;
    color: #FFFFFF;
}

.navbar#nav-auth .navbar-right > li:last-child > a {
    /*color: #fff;*/
    padding-bottom: 0;
    padding-top: 10px;
}

.navbar .navbar-right > li > a {
    color: #eeeeee;
}

.navbar .navbar-right > li > a:hover, .navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a:active {
    background: none;
    color: #FFFFFF;
}

.navbar .navbar-right > li > a > img {
    height: 32px;
    margin-left: 10px;
    width: auto;
}

.sidebar {
    background: #eeeeee;
    height: calc(100% - 68px);
    overflow-y: scroll;
    padding: 0;
    position: fixed;
    top: 66px;
}

.sidebar::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.sidebar::-webkit-scrollbar {
    background-color: #f5f5f5;
    width: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #e21a72;
}

.sidebar > .sidebar-heading {
    background-color: #AD1457;
    color: #FFFFFF;
    padding: 10px;
}

.sidebar > .sidebar-heading > .sidebar-title {
    font-size: 18pt;
    text-align: center;
}

.sidebar > .sidebar-body {
    padding: 10px;
}

/* Header */
.header {
    /*noinspection CssUnknownTarget*/
    background: url("/assets/img/header_bg_.png");
    background-size: cover;
    height: 500px;
}

.header-full {
    height: 100%;
}

.header-full .header-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header .header-box {
    background-color: rgba(173, 20, 87, .5);
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    padding: 20px 20px;
}

.header-content .btn {
    margin: 20px 5px 20px 20px;
    padding: 2px 20px;
}

.header-register {
    /*noinspection CssUnknownTarget*/
    background: url("/assets/img/header_bg_.png");
    background-size: cover;;
    color: #444444;
    height: auto;
}

.header-register .header-content {
    padding-bottom: 100px;
    padding-top: 100px;
}

/* End Header */


/* Scroll Down */

.scroll-down, .scroll-down:active, .scroll-down:focus {
    background: none;
    bottom: 50px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: .25s all;
    z-index: 100;
}

.scroll-down i {
    font-size: 20pt;
}

/* End Scroll Down */


.panel-options {
    float: right;
}


/* Main Container */

.container-fluid {
    color: #444;
}

.main-container {
    padding-top: 67px;
    padding-bottom: 70px;
}

#template-select {
    display: none;
}

#template-select img {
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    height: auto;
    margin-bottom: 20px;
    width: 100%;
}

.form-preview {
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin-bottom: 20px;
}

.form-preview .form-title {
    background-color: #bb4678;
    color: #FFFFFF;
    font-size: 12pt;
    padding: 15px 20px;
}

.form-preview .form-actions {
    padding: 10px 20px;
}

.form-view {
    padding-top: 66px;
    width: 100%;
}

.form-view .form-head {
    background: #AD1457;
    color: #FFFFFF;
    padding: 15px 0 15px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.form-view .form-head input {
    background: none;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 36px;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}

.form-view .form-head input::placeholder {
    color: #dddddd;
}

.form-view .form-content {
    font-size: large;
}

.form-view .form-content > button {
    margin-top: 30px;
}

.form-view .form-content ol li {
    margin-bottom: 20px;
}

/* End Main Container */

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

section#feature-section p {
    font-size: 14pt;
}

section#feature-section .row {
    margin-top: 80px;
}

section#feature-section .feature-icon {
    font-size: 60pt;
}


/* Dashboard Section */

.dashboard-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

#donation-agreement, #donation-confirm, .upload-testimonial, #donation-amounts {
    display: none;
    margin-top: 20px;
}

.donation-countdown p, #receipt-countdown p, #recycle-countdown p, .panel-admin p {
    font-size: 24pt;
}

table.table {
    background-color: #FFFFFF;
    border: 1px solid #AD1457;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    color: #444444;
    font-size: 9pt;
    margin-bottom: 20px;
    margin-top: 10px;
}

table.table thead {
    background-color: #AD1457;
    color: #FFFFFF;
}

table.table > thead > tr > th {
    border-bottom: 1px solid #AD1457;
}

table.table > tbody > tr > th {
    border-right: 1px solid #AD1457;
    border-top: 1px solid #ccc;
}

/* End Dashboard Section */


/* Footer */

footer {
    background-color: #444;
    padding-bottom: 20px;
    padding-top: 20px;
}

footer .links-list li {
    list-style: none;
    margin-top: 10px;
}

footer .links-list li a {
    color: #fff;
}

.social-icon {
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    line-height: 46px;
    margin-right: 10px;
    text-align: center;
    width: 40px;
}

.social-icon-facebook {
    background-color: #2534c6;
}

.social-icon-instagram {
    background-color: #a16c25;
}

.social-icon-mail {
    background-color: #003366;
}

.social-icon-twitter {
    background-color: #65c1f2;
}

.social-icon-whatsapp {
    background-color: #4cae4c;
}

.social-icon-telegram {
    background-color: #47a2d2;
}

.social-icon i {
    color: #fff;
    font-size: large;
}

/* End Footer */
